.mainGraph{
    width: 100%; 
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.barLabel{
    text-align: left;
}
  
.barChart{
    background: linear-gradient(to bottom, #4cb8c4, #3cd3ad);
    height: 30px;
    border-radius: 0px 4px 4px 0px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 5px black;
    transition: width 1s;
}